@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply scroll-smooth;
    }

    body {
        @apply antialiased;
    }
}

@layer utilities {
    .container {
        @apply max-w-7xl;
    }
}